/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url(./fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

body {
	background-image: url("./images/assets/background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 35px 171px 0 171px;
	height: 32px;
}

p, h1, h2, h3 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFFFFF;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 234px;
	height: 15px;
}

.menu p {
	font-size: 12px;
	font-weight: 700;
	line-height: 15px;
}

.smile img {
	width: 167px;
	height: 29px;
}

.register {
	height: 957px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 70px;
}

.schooled {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	height: 300px;
	margin: 115px 0 0 0;
}

.schooled h1 {
	width: 700px;
	height: 151px;
	font-size: 120px;
	font-weight: 700;
	line-height: 150px;
	text-align: center;
	margin: 40px 0 0 0;
}

.schooled p {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	word-spacing: 60px;
	width: 300px;
	margin: 0 0 40px 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #C271FF;
	width: 162px;
	height: 44px;
	border: none;
	box-shadow: 0px 2px 20px 0px #00000080;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 17.6px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 50px;
}

.pros {
	width: 1009px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 150px;
}

.pros h2 {
	width: 300px;
	height: 40px;
	font-size: 32px;
	font-weight: 300;
	line-height: 40px;
	text-align: center;
}

.pros span {
	color: #C271FF;
	font-weight: 700;
}

.avatars {
	margin-top: 70px;
	width: 1009px;
	height: 237px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.avatars img {
	width: 150px;
	height: 150px;
}

.avatars h3 {
	font-size: 18px;
	font-weight: 900;
	line-height: 27px;
	text-align: center;
	width: 150px;
	height: 27px;
	display: flex;
	justify-content: center;
}

.avatars p {
	width: 150px;
	height: 48px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
